# 藍芽裝置名稱 (廣播名稱)
BLE_DEVICE_NAME=NRF_EPD_1234

# QR Code 要編碼的連結
QRCODE_URL=https://google.com

# 電子紙畫布尺寸
EPD_WIDTH=400
EPD_HEIGHT=300

# 電子紙驅動型號 (參考 html/index.html 的 epddriver 選項)
# 01=4.2寸黑白UC8176, 02=4.2寸三色SSD1619, 03=4.2寸三色UC8176
# 04=4.2寸黑白SSD1619, 05=4.2寸四色JD79668
# 06=7.5寸黑白UC8179, 07=7.5寸三色UC8179
# 08=7.5寸低分黑白UC8159, 09=7.5寸低分三色UC8159
EPD_DRIVER=02

# BLE 傳輸參數 (MTU 會透過協商自動更新)
MTU_SIZE=20
INTERLEAVED_COUNT=50
